<footer class="footer container">
    <div class="row">
        <div class="footer_block">
            <a class="copyright" href="#">2022 Footer</a>
            <a class="zero_img" href="http://www.zero-1.ru/">Logo</a>
        </div>
    </div>
  </footer>
</body>
</html>
