<header class="header_position">
  <div class="container">
      <div class="header_top row ">
          <div class="logo">
              <a href="./index.html" class="logo_link">
                  Логотип
                  <!--                    <img class="about_top_img_logo" src="../files/img/index/hotel_logo.png" alt="hotel_logo">-->
              </a>
          </div>
<!--          <div class="nav-group">-->
<!--              <div class="nav" tabindex="0">-->
<!--                  <h4 class="nav-title">-->
<!--                      <span>Связь</span>-->
<!--                      <span class="icon icon_size_s arrow-down"></span>-->
<!--                  </h4>-->
<!--                  <ul class="nav-list">-->
<!--                      <li class="nav-item">-->
<!--                          <a class="nav-link">link</a>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                          <a class="nav-link">link</a>-->
<!--                      </li>-->
<!--                  </ul>-->
<!--              </div>-->
<!--          </div>-->
          <div class="profile">
              <a class="profile-info" href="./profile.html">
                  Альфрескин И.А
              </a>
              <span class="profile-time">
                  22.51
              </span>
          </div>
      </div>
    </div>
</header>

