/*
На мобилке эффект hover убрать
Цвет текста становится голубоватым
На мобилке burger-menu как https://grace-hotels.ru/  Сверху плашка + телефон
*/ 
.none-nav {
    display: none;
}

.navigation {
    position: fixed;
    width: $aside-width;
    height: 100vh;
    left: 0;
    top: 0;
    font-size: 22px;
    background: #003399;
    overflow: hidden;
    z-index: 5;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition; 
    @media (max-width: $pc-big) {
        width: $aside-height__medium;
    }
    @media (max-width: $phone) and (orientation: portrait), 
    (max-height: $phone) and (orientation: landscape),
    (max-height: $phone-height__medium) and (orientation: landscape) {
        width: 100vw;
        height: $aside-height__medium;
    } 
    @media (max-height: $tablet-height) { 
        font-size: 20px;
    }
    @media (max-height: $phone-height__medium) { 
        font-size: 16px;
    }
    @media (max-height: $phone-height__small) { 
        font-size: 14px;
        height: $aside-height__small;
    }
    &.active { 
        width: $aside-width-open;
        @media (max-width: $pc-big) {
            width:calc(#{$aside-width-open} - 90px);
        }
        @media (max-width: $phone) and (orientation: portrait), 
        (max-height: $phone-height__medium) and (orientation: landscape),
        (max-height: $phone) and (orientation: landscape){
            width: 100vw;
            height: 100%;
        } 
        & .navigation__button-toggle {
            width: 100%; 
            outline: none; 
            @media (max-width: $phone) and (orientation: portrait){
                //padding-top: 15px;
            }
        }
        
        & .navigation__button-toggle-title { 
            display: block;
        }
        
        & .navigation__phone {
            color: transparent;
        }
    }
} 
.navigation__button-toggle {
    display: flex;
    min-width: $aside-width-open;
    height: $aside-width; 
    align-items: center;
    font-size: 1em;
    background: #115AED;
    outline: none; 
    @media (max-width: $pc-big) {
        height: $aside-height__medium;
    }
    @media (max-width: $phone) and (orientation: portrait), 
    (max-height: $phone) and (orientation: landscape){ 
        height: $aside-height__medium;
        background: transparent;
        min-width: $aside-height__medium;
    } 
     @media (max-height: $phone-height__medium) { 
        height: $aside-height__medium;
    }
    @media (max-height: $phone-height__small) {  
        height: $aside-height__small;  
    } 
}
.navigation__button-toggle-icon { 
    position: relative;
    display: block;
    min-width: $aside-width;
    height: 100%;
    padding: 0.9em; 
    @media (max-width: $pc-big) {
        padding: 1.25rem;
        min-width: $aside-height__medium;
    }
    @media (max-height: $tablet-height) {
        padding: 1em;  
    }
    @media (max-height: $phone-height__medium) { 
        height: $aside-height__medium; 
        min-width: $aside-height__medium;
    }
    @media (max-height: $phone-height__small) { 
        padding: 12px;
        height: $aside-height__small; 
        min-width: $aside-height__small;
    }
    & .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }
}
.button-toggle__line{
    position: absolute; 
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px; 
    background: white;
    transform: translate(-50%, -50%);
}  
.button-toggle__line {
    &::before, &::after { 
        position: absolute; 
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px; 
        background: white; 
        -ms-transform: translateY(-7px);
        transform: translateY(-7px);
    }
    &::after { 
        -ms-transform: translateY(+7px);
        transform: translateY(+7px);
    }
} 
.navigation.active {
    & .button-toggle__line{
        background: transparent; 
        &::before {  
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &::after {  
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
     }
}

.navigation__button-toggle-title { 
    font-size: 1em;
    font-weight: 500;
    @media (max-width: $phone) and (orientation: portrait),
    (max-height: $tablet-height) and (orientation: landscape){
        display: none;
    }
}
.navigation__phone {
    display: none;
    @media (max-width: $phone) and (orientation: portrait),
    (max-height: $phone) and (orientation: landscape) {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        font-size: 0.8em;
        &:hover {
            color: white;
        }
    }
    @media (max-height: $phone-height__small) {  
        font-size: 1em; 
    }
}

.navigation__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - #{$aside-width}); 
    @media (max-width: $pc-big) {
        height: calc(100% - #{$aside-height__medium});
    }
    @media (max-height: $phone-height__medium) {
        height: calc(100% - #{$aside-height__medium});
    }
    @media (max-width: $phone) {
        height: calc(100% - #{$aside-height__medium} - 15px);
    }
}
.list-navigation {
    display: flex;
    flex-direction: column;
    font-size: 100%;
}
.list-navigation__item { 
    width: $aside-width-open;
    font-size: 1em; 
    @media (max-width: $phone) {
        width: 100vw; 
    }
    @media (max-height: $tablet-height)  {
    margin: 0;
    }
    &:hover{
        background-color: white;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        @media (max-width: $phone) and (orientation: portrait),
        (max-height: $phone)  {
            background-color: inherit;
        }
        & .list-navigation__title {
            color: #115AED;
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
            -o-transition: $transition;
            @media (max-width: $phone) and (orientation: portrait),
            (max-height: $phone)  {
                color: white; 
            }
        }
//Icon styles:hover
        & .icon path, svg path{ 
                fill:  #115AED;
                opacity: 1;
                @media (max-width: $phone) and (orientation: portrait),
                (max-height: $phone) {
                    fill:  white;
                }
        }
    }
} 
.icon {
    color: white; 
}
.list-navigation__link { 
    display: flex;
    align-items: center; 
    font-size: 1em;
}
.list-navigation__icon { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    min-width: $aside-width;
    width: $aside-width;
    height: $aside-width;  
    @media (max-width: $pc-big) {
        padding: 1.25rem;
        min-width: $aside-height__medium;
        width:  $aside-height__medium;
        height: $aside-height__medium;
    }
    @media (max-height: $tablet-height) { 
        padding: 19px;
        height: $aside-height__tablet; 
    }
    @media (max-height: $phone-height__medium) {
        padding: 19px;
        height: $aside-height__medium;
        width: $aside-height__medium;
        min-width: $aside-height__medium;
    }
    @media (max-height: $phone-height__small) { 
        padding: 14px;
        height: $aside-height__small;
        width: $aside-height__small;
        min-width: $aside-height__small;
    }
}
.list-navigation__title { 
    width: 160px; 
    font-weight: 500;
    &:first{
        max-height: 1rem;
    } 
} 