.copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #141414;
}

.zero_img {
  max-width: 64px;
  height: auto;
  @media (max-width: $small_tablet) {
    max-width: 45px;
  }
  & img {
    display: block;
    width: 100%;
  }
}
.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width: $small_tablet) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.footer_block  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
