.map {
  position: relative;
  font-size: 28px;
  background-size: cover;
  background-position: center;
  @media (max-width: $phone), (max-height: $phone){
    font-size: 20px;
  }
  @media (max-width: 340px), (max-height: 340px){
    font-size: 16px;
  }
  & .phone_number, & .city_address  {
    color: white;
  }
}
.map-contacts {
  & .first-slide {
    max-height: unset;
  }
}
.main_map {
    position: relative;
  }

.address_block {
    position: absolute; 
    bottom: 16%;
    &.center {
      bottom: 50%;
      transform: translate(0, 50%);
    }
    @media (max-width: $phone-height__medium), (max-height: $phone-height__medium) {
      bottom: 13%;
    }
}

.city_address {
    font-weight: normal;
    font-size: 0.85em; 
    color: #141414;
    line-height: 1.2;
}

.phone_number_spacing {
    margin: 30px 0px;
    @media (max-width: $phone), (max-height: $phone){
      margin: 15px 0px;
    }
}

.phone_number {
    display: block;

    font-style: normal;
    font-weight: normal;
    font-size: 1em; 
    color: #141414;
    line-height: 1.2;
  }
   
.address_button {
    font-weight: bold;
    font-size: 0.5em;
    text-align: center;
    background: #003399;
    border-radius: 5px;
    padding: 16px 23px;
    @media (max-width: $phone-height__medium), (max-height: $phone-height__medium) {
      padding: 10px 23px;
    }
  }
  
.address_button:hover {
    color: #FFFFFF;
    background: #115AED;
}
// google-map style
 
.gm-style-mtc {
  display: none;
}
 
.gm-style-cc {
  display: none;
}
.gm-svpc {
  display: none;
}

.gm-fullscreen-control {
  display: none;
}
.gm-style-pbc {
  display: none;
  & .gm-style-pbt {
    display: none;
  }
}
 
.gm-style a[rel="noopener"] div{
  display: none;
}