<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="container">
        <div class="row">
            <form class="form form-horizontal margin-top-4 col-6">
                <div class="form-group">
                    <label for="">Фамилия</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Имя</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Отчество</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Должность</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Отдел</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Роль</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <button class="btn btn-dark">Добавить</button>
            </form>
        </div>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
