<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="btn-toolbar col-6" role="toolbar" aria-label="...">
                        <div class="btn btn-default" role="group" aria-label="..."><</div>
                        <h5 class="btn btn-default"> Все </h5>
                        <div class="btn btn-default" role="group" aria-label="...">></div>
                        <h5 class="btn btn-default"> Подразделение </h5>
                    </div>
                    <div class="col-6 data-group" role="toolbar" aria-label="...">
                        <div class="form-group form-row col-auto">
                            <label for="dateFrom" class="date-label">с</label>
                            <input type="date" class="date-input form-control" id="dateFrom" placeholder="Имя">
                        </div>
                        <div class="form-group form-row col-auto">
                            <label for="dateTo" class="date-label">по</label>
                            <input type="date" class="date-input form-control" id="dateTo" placeholder="Имя">
                        </div>
                        <h5 class="btn btn-default col-auto"> Период времени </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 table-scroll">
                        <form class="form-inline margin-top-4 filter">

                            <div class="form-group time-width">
                                <label for="exampleInputName2">Фамилия</label>
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Фамилия">
                            </div>
                            <div class="form-group time-width">
                                <label for="exampleInputEmail2">Имя</label>
                                <input type="email" class="form-control" id="" placeholder="Имя">
                            </div>
                            <div class="form-group time-width">
                                <label for="exampleInputEmail2">Отчество</label>
                                <input type="email" class="form-control" id="" placeholder="Отчество">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Стаж</label>
                                <input type="email" class="form-control" id="time" placeholder="Стаж">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Время обработки обращения</label>
                                <input type="email" class="form-control" id="time" placeholder="Время">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Время составления КП</label>
                                <input type="email" class="form-control" id="" placeholder="Время">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Время составления КП</label>
                                <input type="email" class="form-control" id="" placeholder="Время">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Среднее количество арматуры</label>
                                <input type="email" class="form-control" id="" placeholder="Среднее количество арматуры">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Средняя стоимость заказа</label>
                                <input type="email" class="form-control" id="" placeholder="Средняя стоимость заказа">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Средняя стоимость обработки заказа</label>
                                <input type="email" class="form-control" id="" placeholder="Средняя стоимость обработки заказа">
                            </div>

                        </form>
                        <table class="table table-striped margin-top-4">
                            <tr>
                                <th class="time-width">Фамилия</th>
                                <th class="time-width">Имя</th>
                                <th class="time-width">Отчество</th>
                                <th class="time-width">Стаж работы (г)</th>
                                <th class="time-width">Время обработки обращения (ч)</th>
                                <th class="time-width">Время составления коммерческого предложения (ч)</th>
                                <th class="time-width">Среднее время составления коммерческого предложения для 1 арматуры (ч)</th>
                                <th class="time-width">Среднее количество арматуры в зявке</th>
                                <th class="time-width">Среднее стоимость заказа (т.руб)</th>
                                <th class="time-width">Средняя стоимость обработки 1 заказа (руб)</th>
                            </tr>
                            <tr>
                                <td>Альфрескин</td>
                                <td>Николай</td>
                                <td>Николаевич</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>28</td>
                                <td>250</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Альфрескин</td>
                                <td>Николай</td>
                                <td>Николаевич</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>28</td>
                                <td>250</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Альфрескин</td>
                                <td>Николай</td>
                                <td>Николаевич</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>28</td>
                                <td>250</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Альфрескин</td>
                                <td>Николай</td>
                                <td>Николаевич</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>28</td>
                                <td>250</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Альфрескин</td>
                                <td>Николай</td>
                                <td>Николаевич</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>28</td>
                                <td>250</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Альфрескин</td>
                                <td>Николай</td>
                                <td>Николаевич</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>28</td>
                                <td>250</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Альфрескин</td>
                                <td>Николай</td>
                                <td>Николаевич</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>28</td>
                                <td>250</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Альфрескин</td>
                                <td>Николай</td>
                                <td>Николаевич</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>28</td>
                                <td>250</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Альфрескин</td>
                                <td>Николай</td>
                                <td>Николаевич</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>28</td>
                                <td>250</td>
                                <td>25</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-2">
                        <span>Период времени</span>
                        <div class="date-btn">
                            <button type="button" class="btn btn-primary btn-sm">день</button>
                            <button type="button" class="btn btn-primary btn-sm">неделя</button>
                            <button type="button" class="btn btn-primary btn-sm">месяц</button>
                            <button type="button" class="btn btn-primary btn-sm">квартал</button>
                            <button type="button" class="btn btn-primary btn-sm">год</button>
                        </div>
                        <hr>
                        <span>Представление</span>
                        <div class="date-btn">
                            <button type="button" class="btn btn-primary btn-sm">график</button>
                            <button type="button" class="btn btn-primary btn-sm">таблица</button>
                        </div>
                    </div>
                </div>
                <nav class="margin-top-4" aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Следующая</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
