<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active btn btn-default"><a href="#">Приказы</a></li>
                    <li role="presentation" class="btn btn-default"><a href="#">Шаблоны документов</a></li>
                </ul>
                <div>
                    <button class="announcement-item__content">
                        <span class="announcement-item__date"> 25.02.22</span>
                        <span class="announcement-item__text"> Введение нового стандрта производства</span>
                    </button>
                    <button class="announcement-item__content">
                        <span class="announcement-item__date"> 25.01.22</span>
                        <span class="announcement-item__text"> Приказ о стандартизации производства</span>
                    </button>
                    <button class="announcement-item__content">
                        <span class="announcement-item__date"> 25.01.22</span>
                        <span class="announcement-item__text"> Приказ о введении второй рабочей смены</span>
                    </button>
                    <button class="announcement-item__content">
                        <span class="announcement-item__date"> 25.12.21</span>
                        <span class="announcement-item__text"> Приказ о рабочей неделе на новогодние праздники</span>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn btn-default" role="group" aria-label="..."><</div>
                        <h5 class="btn btn-default"> Июнь 2022 </h5>
                        <div class="btn btn-default" role="group" aria-label="...">></div>
                        <h5 class="btn btn-default"> Ближайшие события </h5>
                    </div>
                    <table class="calendar table table-striped">
                        <tr>
                            <th>пн</th>
                            <th>вт</th>
                            <th>ср</th>
                            <th>чт</th>
                            <th>пт</th>
                            <th>сб</th>
                            <th>вс</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>14</td>
                            <td>
                                <a class="calendar-action" href="index.html/?action=15">15</a>
                            </td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>
                            <td>23</td>
                            <td>
                                <a class="calendar-action" href="index.html/?action=24">24</a>
                            </td>
                            <td>25</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>
                            <td>30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
