<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="container">
        <div class="col-8">
            <form class="form form-horizontal">
                <div class="form-group">
                    <label class="form-label control-label">№ КП</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label class="form-label control-label">Количество позиций</label>
                    <input type="number" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label class="form-label control-label">Наименование заказчика</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label class="form-label control-label">ИНН заказчика</label>
                    <input type="number" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label class="form-label control-label">Время начала работы над заказом</label>
                    <input type="datetime-local" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label class="form-label control-label">Конечное время передачи заказа на эскиз</label>
                    <input type="datetime-local" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label class="form-label control-label">Количество итераций уточнения данных</label>
                    <input type="number" class="form-control" id="" placeholder="">
                </div>
                <div class="bs-example">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                    <button type="submit" class="btn btn-default">Очистить</button>
                </div>
            </form>
        </div>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
