<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="btn-toolbar col-6" role="toolbar" aria-label="...">
                        <div class="btn btn-default" role="group" aria-label="..."><</div>
                        <h5 class="btn btn-default"> Отдел продаж </h5>
                        <div class="btn btn-default" role="group" aria-label="...">></div>
                        <h5 class="btn btn-default"> Подразделение </h5>
                    </div>
                    <div class="col-6 data-group" role="toolbar" aria-label="...">
                        <div class="form-group form-row col-auto">
                            <label for="dateFrom" class="date-label">с</label>
                            <input type="date" class="date-input form-control" id="dateFrom" placeholder="Имя">
                        </div>
                        <div class="form-group form-row col-auto">
                            <label for="dateTo" class="date-label">по</label>
                            <input type="date" class="date-input form-control" id="dateTo" placeholder="Имя">
                        </div>
                        <h5 class="btn btn-default col-auto"> Период времени </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 table-scroll">
                        <form class="form-inline margin-top-4 filter">

                            <div class="form-group time-width">
                                <label for="exampleInputName2">№</label>
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="№">
                            </div>
                            <div class="form-group time-width">
                                <label for="exampleInputEmail2">Название</label>
                                <input type="email" class="form-control" id="" placeholder="Название">
                            </div>
                            <div class="form-group time-width">
                                <label for="exampleInputEmail2">ДУ</label>
                                <input type="email" class="form-control" id="" placeholder="ДУ">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">	№ КП</label>
                                <input type="email" class="form-control" id="time" placeholder="№ КП">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">	Время анализа (ч)</label>
                                <input type="email" class="form-control" id="time" placeholder="Время анализа (ч)">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Время составления коммерческого предложения</label>
                                <input type="email" class="form-control" id="" placeholder="">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Время эскиза (ч)</label>
                                <input type="email" class="form-control" id="" placeholder="">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Время КД (ч)</label>
                                <input type="email" class="form-control" id="" placeholder="">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Время эскиза (ч)	</label>
                                <input type="email" class="form-control" id="" placeholder="">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Время эскиза (ч)	</label>
                                <input type="email" class="form-control" id="" placeholder="">
                            </div>
                            <div class="form-group time-width">
                                <label for="time">Время набивки (ч)</label>
                                <input type="email" class="form-control" id="" placeholder="">
                            </div>

                        </form>
                        <table class="table table-striped margin-top-4">
                            <tr>
                                <th class="time-width">№</th>
                                <th class="time-width">Название</th>
                                <th class="time-width">ДУ</th>
                                <th class="time-width">№ КП</th>
                                <th class="time-width">Время анализа (ч)</th>
                                <th class="time-width">Время составления коммерческого предложения (ч)</th>
                                <th class="time-width">Время эскиза (ч)</th>
                                <th class="time-width">Время КД (ч)</th>
                                <th class="time-width">Время раскроя</th>
                                <th class="time-width">Время пошива</th>
                                <th class="time-width">Время набивки</th>
                            </tr>
                            <tr>
                                <th class="time-width">153</th>
                                <th class="time-width">Задвижка</th>
                                <th class="time-width">75</th>
                                <th class="time-width">115</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">3</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">2</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                            </tr>
                            <tr>
                                <th class="time-width">153</th>
                                <th class="time-width">Задвижка</th>
                                <th class="time-width">75</th>
                                <th class="time-width">115</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">3</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">2</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                            </tr>
                            <tr>
                                <th class="time-width">153</th>
                                <th class="time-width">Задвижка</th>
                                <th class="time-width">75</th>
                                <th class="time-width">115</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">3</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">2</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                            </tr>
                            <tr>
                                <th class="time-width">153</th>
                                <th class="time-width">Задвижка</th>
                                <th class="time-width">75</th>
                                <th class="time-width">115</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">3</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">2</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                            </tr>
                            <tr>
                                <th class="time-width">153</th>
                                <th class="time-width">Задвижка</th>
                                <th class="time-width">75</th>
                                <th class="time-width">115</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">3</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">2</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                            </tr>
                            <tr>
                                <th class="time-width">153</th>
                                <th class="time-width">Задвижка</th>
                                <th class="time-width">75</th>
                                <th class="time-width">115</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">3</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">2</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                            </tr>
                            <tr>
                                <th class="time-width">153</th>
                                <th class="time-width">Задвижка</th>
                                <th class="time-width">75</th>
                                <th class="time-width">115</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">3</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">2</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                            </tr>
                            <tr>
                                <th class="time-width">153</th>
                                <th class="time-width">Задвижка</th>
                                <th class="time-width">75</th>
                                <th class="time-width">115</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">3</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">2</th>
                                <th class="time-width">0.5</th>
                                <th class="time-width">0.5</th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-2">
                        <span>Период времени</span>
                        <div class="date-btn">
                            <button type="button" class="btn btn-primary btn-sm">день</button>
                            <button type="button" class="btn btn-primary btn-sm">неделя</button>
                            <button type="button" class="btn btn-primary btn-sm">месяц</button>
                            <button type="button" class="btn btn-primary btn-sm">квартал</button>
                            <button type="button" class="btn btn-primary btn-sm">год</button>
                        </div>
                        <hr>
                        <span>Представление</span>
                        <div class="date-btn">
                            <button type="button" class="btn btn-primary btn-sm">график</button>
                            <button type="button" class="btn btn-primary btn-sm">таблица</button>
                        </div>
                    </div>
                </div>
                <nav class="margin-top-4" aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Следующая</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
