<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="container">
        <form class="profile-info" id="profile">
            <table class="table table-striped">
                <tr>
                    <th>Характеристика</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <td>Количество смен месяц</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>Количество часов</td>
                    <td>180 ч</td>
                </tr>
                <tr>
                    <td>Количество эскизов</td>
                    <td>55</td>
                </tr>
                <tr>
                    <td>Среднее количество итераций уточнения данных</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Средняя время анализа достаточности данных</td>
                    <td>0.45 ч</td>
                </tr>
                <tr>
                    <td>Средняя время обработки единицы заявки</td>
                    <td>2 ч</td>
                </tr>
                <tr>
                    <td>Максимальное время обработки единицы заявки</td>
                    <td>6 ч</td>
                </tr>
            </table>
        </form>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
