<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<div class="header_block first-slide" style="background-image: url(./files/img/index/10_about_hotel_background.png)">
    <div class="header_block_wrap">
        <div class="container">
            <div class="promotion_block row">
                <div class="about_promotion_block_wrap">
                    <a class="about_promotion_link" href="#"><img src="./files/icon/social/icon_room_hotel.svg" alt="Icon button"></a>
                    <a class="about_promotion_link_title" href="#"><h4 class="about_promotion_text">Назад к каталогу номеров</h4></a>
                </div>
                <h2 class="about_promotion_title">Акция  “Новогодняя сказка”</h2>
            </div>
        </div>
    </div>
</div>

<main>

</main>
<%= _.template(require('./template/_footer.html'))(data) %>
