<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="container">
        <form class="form-inline margin-top-4 filter">
            <div class="form-group">
                <label for="">Фамилия</label>
                <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Имя</label>
                <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Отчество</label>
                <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Должность</label>
                <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Отдел</label>
                <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Роль</label>
                <input type="text" class="form-control" id="" placeholder="">
            </div>
        </form>
        <table class="table table-striped margin-top-4">
            <tr>
                <th>Сотрудник</th>
                <th>OP_MANAGER</th>
                <th>OP_SUPER_MANAGER</th>
                <th>OP_SKETCH_DESIGNER</th>
                <th>OP_DESIGNER</th>
                <th>OP_MASTER_DESIGNER</th>
                <th>OP_SUPER _DESIGNER</th>
                <th>OP_CUTTER</th>
                <th>OP_SEAMSTRESS</th>
                <th>OP_SEALER</th>
                <th>OP_TECHNICAL_CHECK</th>
                <th>OP_PACKAGER</th>
                <th>OP_INSTALLER</th>
                <th>OP_TECHNOLOGIST</th>
                <th>DIRECTOR</th>
                <th>ADMINISTRATOR</th>
            </tr>
            <tr>
                <td>Альфрескин И.А (директор)</td>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
            </tr>
            <tr>
                <td>Альфрескин И.А (директор)</td>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
            </tr>
            <tr>
                <td>Альфрескин И.А (директор)</td>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
            </tr>
            <tr>
                <td>Альфрескин И.А (директор)</td>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
            </tr>
            <tr>
                <td>Альфрескин И.А (директор)</td>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
            </tr>
            <tr>
                <td>Альфрескин И.А (директор)</td>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
            </tr>
            <tr>
                <td>Альфрескин И.А (директор)</td>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
            </tr>
            <tr>
                <td>Альфрескин И.А (директор)</td>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
                <th><input type="checkbox"></th>
            </tr>
        </table>
        <nav class="margin-top-4" aria-label="...">
            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Следующая</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
