<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="container">
        <form class="form-inline margin-top-4 filter">
            <section class="row">
                <div class="form-group">
                    <label for="">Фамилия</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Имя</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Отчество</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Должность</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Отдел</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Роль</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Логин</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Дата события</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Тип действия</label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
            </section>
        </form>
        <table class="table table-striped margin-top-4">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Должность</th>
                <th>Логин</th>
                <th>Отдел</th>
                <th>Перечень ролей</th>
                <th>Дата события</th>
                <th>Время</th>
                <th>Последняя активность</th>
            </tr>
            <tr>
                <th>Альфрескин</th>
                <th>Николай</th>
                <th>Валерьевич</th>
                <th>директор</th>
                <th>test</th>
                <th>Коммерческий</th>
                <th>DIRECTOR, ADMINISTRATOR</th>
                <th>15.04.2022</th>
                <th>13:25</th>
                <th>Попытка входа</th>
            </tr>
            <tr>
                <th>Альфрескин</th>
                <th>Николай</th>
                <th>Валерьевич</th>
                <th>директор</th>
                <th>test</th>
                <th>Коммерческий</th>
                <th>DIRECTOR, ADMINISTRATOR</th>
                <th>15.04.2022</th>
                <th>12:25</th>
                <th>Попытка входа</th>
            </tr>
            <tr>
                <th>Альфрескин</th>
                <th>Николай</th>
                <th>Валерьевич</th>
                <th>директор</th>
                <th>test</th>
                <th>Коммерческий</th>
                <th>DIRECTOR, ADMINISTRATOR</th>
                <th>15.04.2022</th>
                <th>11:25</th>
                <th>Попытка входа</th>
            </tr>
            <tr>
                <th>Альфрескин</th>
                <th>Николай</th>
                <th>Валерьевич</th>
                <th>директор</th>
                <th>test</th>
                <th>Коммерческий</th>
                <th>DIRECTOR, ADMINISTRATOR</th>
                <th>15.04.2022</th>
                <th>10:25</th>
                <th>Попытка входа</th>
            </tr>
            <tr>
                <th>Альфрескин</th>
                <th>Николай</th>
                <th>Валерьевич</th>
                <th>директор</th>
                <th>test</th>
                <th>Коммерческий</th>
                <th>DIRECTOR, ADMINISTRATOR</th>
                <th>15.04.2022</th>
                <th>09:25</th>
                <th>Выход</th>
            </tr>
            <tr>
                <th>Альфрескин</th>
                <th>Николай</th>
                <th>Валерьевич</th>
                <th>директор</th>
                <th>test</th>
                <th>Коммерческий</th>
                <th>DIRECTOR, ADMINISTRATOR</th>
                <th>15.04.2022</th>
                <th>08:25</th>
                <th>Добаввление сотрудника</th>
            </tr>
            <tr>
                <th>Альфрескин</th>
                <th>Николай</th>
                <th>Валерьевич</th>
                <th>директор</th>
                <th>test</th>
                <th>Коммерческий</th>
                <th>DIRECTOR, ADMINISTRATOR</th>
                <th>15.04.2022</th>
                <th>07:33</th>
                <th>Добаввление сотрудника</th>
            </tr>
            <tr>
                <th>Альфрескин</th>
                <th>Николай</th>
                <th>Валерьевич</th>
                <th>директор</th>
                <th>test</th>
                <th>Коммерческий</th>
                <th>DIRECTOR, ADMINISTRATOR</th>
                <th>15.04.2022</th>
                <th>07:25</th>
                <th>Вход</th>
            </tr>
            <tr>
                <th>Альфрескин</th>
                <th>Николай</th>
                <th>Валерьевич</th>
                <th>директор</th>
                <th>test</th>
                <th>Коммерческий</th>
                <th>DIRECTOR, ADMINISTRATOR</th>
                <th>15.04.2022</th>
                <th>07:20</th>
                <th>Попытка входа</th>
            </tr>
        </table>
        <nav class="margin-top-4" aria-label="...">
            <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Следующая</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
