<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="btn-toolbar col-6" role="toolbar" aria-label="...">
                    <div class="btn btn-default" role="group" aria-label="..."><</div>
                    <h5 class="btn btn-default"> Отдел продаж </h5>
                    <div class="btn btn-default" role="group" aria-label="...">></div>
                    <h5 class="btn btn-default"> Подразделение </h5>
                </div>
                <div class="col-6 data-group" role="toolbar" aria-label="...">
                    <div class="form-group form-row col-auto">
                        <label for="dateFrom" class="date-label">с</label>
                        <input type="date" class="date-input form-control" id="dateFrom" placeholder="Имя">
                    </div>
                    <div class="form-group form-row col-auto">
                        <label for="dateTo" class="date-label">по</label>
                        <input type="date" class="date-input form-control" id="dateTo" placeholder="Имя">
                    </div>
                    <h5 class="btn btn-default col-auto"> Период времени </h5>
                </div>
            </div>
            <div class="col-10 table-scroll">
                <table class="table table-striped margin-top-4">
                    <tr>
                        <th class="">Характеристика</th>
                        <th class="">Значение</th>
                    </tr>
                    <tr>
                        <th class="">Численность персонала</th>
                        <th class="">15</th>
                    </tr>
                    <tr>
                        <th class="">Среднее время обработки заявки</th>
                        <th class="">1</th>
                    </tr>
                    <tr>
                        <th class="">Среднее количество арматуры</th>
                        <th class="">70</th>
                    </tr>
                    <tr>
                        <th class="">Средний объем заявки</th>
                        <th class="">150м2</th>
                    </tr>
                    <tr>
                        <th class="">Среднее количество уточнений</th>
                        <th class="">2.3</th>
                    </tr>
                    <tr>
                        <th class="">Средняя стоимость обработки заявки</th>
                        <th class="">450 руб</th>
                    </tr>
                    <tr>
                        <th class="">Средняя стоимость заявки</th>
                        <th class="">350.000 руб</th>
                    </tr>
                    <tr>
                        <th class="">Максимальная стоимость заявки</th>
                        <th class="">20.350.000 руб</th>
                    </tr>
                    <tr>
                        <th class="">Количество заявок</th>
                        <th class="">45</th>
                    </tr>
                    <tr>
                        <th class="">Количество рабочих часов</th>
                        <th class="">2555</th>
                    </tr>
                    <tr>
                        <th class="">Количество рабочих смен</th>
                        <th class="">315</th>
                    </tr>
                </table>
            </div>
            <div class="col-2">
                <span>Период времени</span>
                <div class="date-btn">
                    <button type="button" class="btn btn-primary btn-sm">день</button>
                    <button type="button" class="btn btn-primary btn-sm">неделя</button>
                    <button type="button" class="btn btn-primary btn-sm">месяц</button>
                    <button type="button" class="btn btn-primary btn-sm">квартал</button>
                    <button type="button" class="btn btn-primary btn-sm">год</button>
                </div>
                <hr>
                <span>Представление</span>
                <div class="date-btn">
                    <button type="button" class="btn btn-primary btn-sm">график</button>
                    <button type="button" class="btn btn-primary btn-sm">таблица</button>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
