<%= _.template(require('./template/_aside.html'))(data) %>
<%= _.template(require('./template/_header.html'))(data) %>
<main>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="btn-toolbar col-6" role="toolbar" aria-label="...">
                    <div class="btn btn-default" role="group" aria-label="..."><</div>
                    <h5 class="btn btn-default"> Все </h5>
                    <div class="btn btn-default" role="group" aria-label="...">></div>
                    <h5 class="btn btn-default"> Подразделение </h5>
                </div>
                <div class="col-6 data-group" role="toolbar" aria-label="...">
                    <div class="form-group form-row col-auto">
                        <label for="dateFrom" class="date-label">с</label>
                        <input type="date" class="date-input form-control" id="dateFrom" placeholder="Имя">
                    </div>
                    <div class="form-group form-row col-auto">
                        <label for="dateTo" class="date-label">по</label>
                        <input type="date" class="date-input form-control" id="dateTo" placeholder="Имя">
                    </div>
                    <h5 class="btn btn-default col-auto"> Период времени </h5>
                </div>
            </div>
            <div class="col-10">
                <a class="structure-item" href="./structure-item.html">
                    <div class="structure-title">Отдел продаж</div>
                    <div class="structure-description">
                        <div class="form-group">
                            <label class="form-label">Количество продаж</label>
                            <span class="form-text">124</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее время обработки обращения</label>
                            <span class="form-text">1 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Время составления коммерческого предложения</label>
                            <span class="form-text">0.5 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее время составления коммерческого предложения для 1 арматуры </label>
                            <span class="form-text">0.1 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Средняя стоимость заказа</label>
                            <span class="form-text">500 тыс. руб</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Средняя стоимость обработки 1 арматуры</label>
                            <span class="form-text">25 руб</span>
                        </div>
                    </div>
                </a>

                <a class="structure-item" href="./structure-item.html">
                    <div class="structure-title">Конструкторский отдел (эскизы)</div>
                    <div class="structure-description">
                        <div class="form-group">
                            <label class="form-label">Количество обработанных эскизов</label>
                            <span class="form-text">124</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Время анализа достаточности данных</label>
                            <span class="form-text">1 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее время анализа достаточности данных </label>
                            <span class="form-text">0.5 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее количество итераций уточнения данных  </label>
                            <span class="form-text">0.1 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее время разработки эскиза</label>
                            <span class="form-text">500 тыс. руб</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее время разработки эскиза для 1 м2 термоизоляции</label>
                            <span class="form-text">25 руб</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Средняя стоимость разработки 1 м2 эскиза</label>
                            <span class="form-text">25 руб</span>
                        </div>
                    </div>
                </a>

                <a class="structure-item" href="./structure-item.html">
                    <div class="structure-title">Конструкторский отдел (Конструкторская документаци)</div>
                    <div class="structure-description">
                        <div class="form-group">
                            <label class="form-label">Количество продаж</label>
                            <span class="form-text">124</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее время обработки обращения</label>
                            <span class="form-text">1 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Время составления коммерческого предложения</label>
                            <span class="form-text">0.5 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее время составления коммерческого предложения для 1 арматуры </label>
                            <span class="form-text">0.1 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Средняя стоимость заказа</label>
                            <span class="form-text">500 тыс. руб</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Средняя стоимость обработки 1 арматуры</label>
                            <span class="form-text">25 руб</span>
                        </div>
                    </div>
                </a>

                <a class="structure-item" href="./structure-item.html">
                    <div class="structure-title">Производство</div>
                    <div class="structure-description">
                        <div class="form-group">
                            <label class="form-label">Количество продаж</label>
                            <span class="form-text">124</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее время обработки обращения</label>
                            <span class="form-text">1 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Время составления коммерческого предложения</label>
                            <span class="form-text">0.5 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Среднее время составления коммерческого предложения для 1 арматуры </label>
                            <span class="form-text">0.1 ч</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Средняя стоимость заказа</label>
                            <span class="form-text">500 тыс. руб</span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Средняя стоимость обработки 1 арматуры</label>
                            <span class="form-text">25 руб</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-2">
                <span>Период времени</span>
                <div class="date-btn">
                    <button type="button" class="btn btn-primary btn-sm">день</button>
                    <button type="button" class="btn btn-primary btn-sm">неделя</button>
                    <button type="button" class="btn btn-primary btn-sm">месяц</button>
                    <button type="button" class="btn btn-primary btn-sm">квартал</button>
                    <button type="button" class="btn btn-primary btn-sm">год</button>
                </div>
                <hr>
                <span>Представление</span>
                <div class="date-btn">
                    <button type="button" class="btn btn-primary btn-sm">график</button>
                    <button type="button" class="btn btn-primary btn-sm">таблица</button>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./template/_footer.html'))(data) %>
