.filter {
  padding: 16px 4px;
  background-color: rgba(0, 0, 0, 0.05);
  flex-wrap: nowrap;
  width: fit-content;

  & .form-group {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-start;
    padding: 0 4px 0 0;
    text-align: left;
  }

  & .form-control {
    max-width: 100%;
  }
}

.form-row {
  display: flex;
  flex-wrap: nowrap;
}

.data-group {
  display: flex;
}

.date-label {
  margin: 0 4px 0 0;
}

.date-input {
  width: 130px;
}

.table-scroll {
  overflow: hidden;
  overflow-x: auto;
}

.time-width {
  min-width: 120px;
  width: 120px;
  max-width: 120px;
}

//.discount_title_block {
//  font-size: 64px;
//  line-height: 64px;
//
//  @media (max-width: $tablet) {
//    font-size: 56px;
//    line-height: 56px;
//  }
//
//  @media (max-width: $small_tablet) {
//    font-size: 48px;
//    line-height: 48px;
//  }
//
//  @media (max-width: $phone) {
//    font-size: 38px;
//    line-height: 38px;
//  }
//}
//
//.discount_title {
//  font-weight: bold;
//  font-size: 1em;
//  line-height: 1em;
//}
//
//.discount_header_block_title {
//  display: flex;
//  flex-direction: row;
//  width: 100%;
//}
//
//.navigation__spacing {
//  padding: 0;
//}
//
//.discount_photo_item {
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-end;
//  align-items: flex-end;
//  position: relative;
//  height: 100%;
//  min-height: 680px;
//  width: 100%;
//  background-size: cover;
//
//  @media (max-width: $pc) {
//    min-height: 620px;
//  }
//
//  @media (max-height: 720px) {
//    min-height: 580px;
//  }
//
//  @media (max-height: 640px) {
//    min-height: 520px;
//  }
//
//  @media (max-height: 568px) {
//    min-height: 500px;
//  }
//  &::before {
//    content: "";
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    z-index: 2;
//    opacity: 1;
//    background: rgba(0, 0, 0, 0.4);
//    width: 100%;
//    height: 100%;
//  }
//}
//
//.discount_block_wrapper {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  width: 100%;
//  overflow: auto;
//  padding: 75px 45px 120px 45px;
//  z-index: 2;
//
//  @media (max-width: $pc) {
//    padding: 55px 35px 120px 35px;
//  }
//
//  @media (max-width: $tablet) {
//    padding: 60px 60px 120px 60px;
//  }
//
//  @media (max-width: $small_tablet) {
//    padding: 60px 20px 120px 20px;
//  }
//  @media (max-width: $phone) {
//    padding: 60px 60px 120px 60px;
//  }
//
//  @media (max-width: 385px) {
//    padding: 60px 20px 120px 20px;
//  }
//
//}
//
//.discount_block_title {
//  font-weight: 600;
//  font-size: 32px;
//  text-align: center;
//  cursor: default;
//
//  @media (max-width: $pc) {
//    font-size: 26px;
//  }
//
//  @media (max-width: $small_tablet) {
//    font-size: 24px;
//  }
//}
//
//.discount_text_block {
//  display: flex;
//  flex-wrap: wrap;
//  width: 100%;
//  height: 100%;
//}
//
//.discount_text_block_wrap {
//  display: flex;
//  flex-wrap: wrap;
//  height: 100%;
//
//  font-weight: 500;
//  font-size: 14px;
//  line-height: 16px;
//  text-align: center;
//  cursor: default;
//}
//
//.discount_button {
//  display: flex;
//  margin-top: 35px;
//}
//
//.discount_button_link {
//  display: flex;
//  align-items: center;
//  min-height: 40px;
//  width: 100%;
//  padding: 11px 50px 10px 50px;
//
//  font-weight: bold;
//  background: #003399;
//  border-radius: 5px;
//  text-align: center;
//  font-size: 14px;
//
//  @media screen and (max-width: $pc) {
//    font-size: 12px;
//    padding: 10px 50px;
//  }
//}
//
//.discount_button_link:hover {
//  color: #FFFFFF;
//  background: #115AED;
//}
//
//.discount_title_spacing {
//  margin-bottom: 50px;
//}
//
//.discount_background {
//  position: relative;
//  width: 100%;
//  height: 100%;
//  padding: 0px 20px;
//  padding-top: 40px;
//  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//}
//.discount_width {
//  max-width: 1500px;
//}
///*
//.discount_background_wrap::before {
//  content: "";
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  z-index: 1;
//  opacity: 1;
//  background: rgba(0, 0, 0, 0.2);
//  width: 100%;
//  height: 100%;
//}
//*/
