@font-face {
    font-family: 'Gilroy';
    src: url('../files/fonts/Gilroy-Regular.eot');
    src: local('../files/fonts/Gilroy Regular'), local('../files/fonts/Gilroy-Regular'),
        url('../files/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../files/fonts/Gilroy-Regular.woff') format('woff'),
        url('../files/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../files/fonts/Gilroy-Medium.eot');
    src: local('../files/fonts/Gilroy Medium'), local('../files/fonts/Gilroy-Medium'),
        url('../files/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../files/fonts/Gilroy-Medium.woff') format('woff'),
        url('../files/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../files/fonts/Gilroy-SemiBold.eot');
    src: local('../files/fonts/Gilroy SemiBold'), local('../files/fonts/Gilroy-SemiBold'),
        url('../files/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../files/fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../files/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
} 
@font-face {
    font-family: 'Gilroy';
    src: url('../files/fonts/Gilroy-Bold.eot');
    src: local('../files/fonts/Gilroy Bold'), local('../files/fonts/Gilroy-Bold'),
        url('../files/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../files/fonts/Gilroy-Bold.woff') format('woff'),
        url('../files/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}