a:hover {
  text-decoration: none !important;
}

.row_spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.margin-top-4 {
  margin-top: 16px;
}

.margin-bottom-4 {
  margin-bottom: 16px;
}


main {
  padding: 78px 0 0 0;
}

.presentation {
  & .active.btn {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.announcement-item {
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: black;
  }
  &__date {
    margin: 0 8px 0 0;
    width: 60px;
  }
}

.calendar {
  & table {
    width: 100%;
    margin: 0 0 16px 0;
    border-spacing: 16px;
  }

  & tr {
    border-bottom: 1px solid #e9ecef;
  }

  & td, th {
    padding: 16px 0 8px 0;
    text-align: center;

    & a.calendar-action {
      color: blue;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
