//.main_about_hotel_title {
//  font-weight: 600;
//  font-size: 64px;
//  line-height: 64px;
//  color: #141414;
//
//  @media (max-width: $pc) {
//    font-size: 48px;
//    line-height: 48px;
//  }
//
//  @media (max-width: $small_tablet) {
//    font-size: 38px;
//    line-height: 38px;
//  }
//
//  @media (max-width: $phone) {
//    font-size: 28px;
//    line-height: 28px;
//  }
//
//  @media (max-width: $small_phone) {
//    font-size: 24px;
//    line-height: 24px;
//  }
//}
//
//.about_hotel_title_block_wrap {
//  display: flex;
//  flex-direction: column;
//  width: 100%;
//}
//
//.about_hotel {
//  position: relative;
//  width: 100%;
//}
//
//.about_block_background {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  right: 0;
//  background-repeat: no-repeat;
//
//  @media (max-width: $tablet) {
//    position: initial;
//    padding: 0;
//  }
//}
//
//.about_hotel_block_height {
//  min-height: 680px;
//  width: 49%;
//
//  @media (max-width: $pc) {
//    min-height: 620px;
//  }
//
//  @media (max-width: $tablet) {
//    width: 100%;
//    min-height: 580px;
//  }
//
//  @media ($small_tablet) {
//    min-height: 540px;
//  }
//}
//
//
//.about_hotel_spacing {
//  margin-top: 50px;
//}
//
//.about_hotel_text_wrap {
//  font-weight: 500;
//  font-size: 1em;
//  line-height: 1.18em;
//  color: #141414;
//  padding: 10px 0;
//
//  @media (max-width: $phone) {
//    padding: 5px 0;
//  }
//}
//
//.about_hotel_text_list {
//  font-weight: 500;
//  font-size: 1em;
//  line-height: 1em;
//  color: #141414;
//  padding: 10px 0 10px 15px;
//
//  @media (max-width: $phone) {
//    padding: 5px 0 5px 5px;
//  }
//}
//
//.hotel_colored_text {
//  font-weight: 500;
//  font-size: 14px;
//  line-height: 16px;
//  text-align: left;
//  padding: 10px 0;
//
//
//  @media (max-width: $phone) {
//    padding: 5px 0;
//  }
//}
//
//.about_hotel_text_block {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  width: 100%;
//  height: 100%;
//  font-size: 14px;
//  line-height: 16px;
//  @media (max-width: $small_tablet) {
//    flex-direction: column;
//    align-items: center;
//  }
//
//  @media (max-width: $phone) {
//    font-size: 12px;
//    line-height: 14px;
//  }
//}
//
//.hotel_text_block {
//  width: 60%;
//  height: 100%;
//
//  @media screen and (max-width: $pc) {
//      width: 55%;
//  }
//
//  @media screen and (max-width: $tablet) {
//      width: 50%;
//  }
//
//  @media screen and (max-width: $small_tablet) {
//      width: 100%;
//  }
//}
//
//.hotel_colored_text_block {
//  padding: 40px;
//  background: #003399;
//  width: 35%;
//  height: 100%;
//
//  @media screen and (max-width: $pc) {
//    width: 40%;
//  }
//
//  @media screen and (max-width: $tablet) {
//    width: 45%;
//    padding: 35px;
//  }
//
//  @media screen and (max-width: $small_tablet) {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//    width: 70%;
//    text-align: center;
//    margin-top: 25px;
//  }
//
//  @media screen and (max-width: $phone) {
//    width: 100%;
//    padding: 25px;
//  }
//
//  @media screen and (max-width: $small_phone) {
//    padding: 20px 10px;
//  }
//}
//
//.about_hotel_line {
//  width: 80px;
//  height: 4px;
//  background: #003399;
//  margin: 25px 0 25px 0;
//
//  @media (max-width: $small_tablet) {
//    width: 70px;
//    margin: 20px 0;
//  }
//
//  @media (max-width: $phone) {
//    width: 60px;
//    margin: 18px 0;
//  }
//
//  @media (max-width: $small_phone) {
//    width: 50px;
//    margin: 14px 0;
//  }
//}
//
//.main_feedback_spacing {
//  margin-top: 80px;
//}
//
//.feed_info_title {
//  font-weight: 600;
//  font-size: 1em;
//  color: #141414;
//  margin-bottom: 5px;
//}
//
//.feed_info_block_title {
//  display: flex;
//  flex-direction: row;
//  flex-wrap: wrap;
//  align-items: center;
//  width: 100%;
//
//  @media (max-width: $phone) {
//    flex-direction: column;
//    align-items: flex-start;
//  }
//}
//
//
//.feedback_rating {
//  margin-left: 15px;
//  margin-bottom: 10px;
//}
//
//.feed_info_block_text {
//  font-weight: 500;
//  font-size: 0.85rem;
//  line-height: 1.1rem;
//  color: #000000;
//}
//
//.info_block_wrap {
//  font-size: 24px;
//  margin-top: 40px;
//
//  @media (max-width: $tablet) {
//    font-size: 20px;
//  }
//}
//
//.leave_feed_text {
//  font-weight: bold;
//  font-size: 1em;
//  text-align: center;
//  color: #141414;
//  text-transform: uppercase;
//  margin-bottom: 25px;
//
//  @media (max-width: $tablet) {
//    margin-bottom: 20px;
//  }
//
//  @media (max-width: $phone) {
//    margin-bottom: 15px;
//  }
//}
//
//.feed_info_block_btn {
//  font-weight: bold;
//  font-size: 0.9rem;
//  text-align: center;
//  color: #FFFFFF;
//  background: #003399;
//  border-radius: 5px;
//  padding: 8px 20px;
//  cursor: pointer;
//  &:hover {
//    background: #115AED;
//  }
//}
//
//.feed_info_block_btn:hover {
//  color: #FFFFFF;
//}
//
//.feed_info_block_btn_spacing {
//  margin-top: 30px;
//
//  @media (max-width: $tablet) {
//    margin-top: 25px;
//  }
//}
//
//.leave_feed_btn {
//  font-weight: 500;
//  font-size: 0.9rem;
//  line-height: 1rem;
//  color: #000000;
//  text-align: center;
//  padding: 0 25px;
//
//  @media (max-width: $tablet) {
//      font-size: 0.8rem;
//      line-height: 0.9rem;
//      padding: 0 15px;
//    }
//}
//
//.main_feedback_block_wrap {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  width: 100%;
//  height: auto;
//
//  @media (max-width: $small_tablet) {
//    flex-direction: column;
//    align-items: center;
//  }
//}
//
//.feedback_block_info {
//  width: 58%;
//
//  @media (max-width: $pc) {
//    width: 52%;
//  }
//
//  @media (max-width: $small_tablet) {
//    width: 100%;
//  }
//}
//
//.feedback_leave_info {
//  display: flex;
//  flex-direction: row;
//  width: 35%;
//  height: 100%;
//  margin-top: 40px;
//
//  @media (max-width: $pc) {
//    width: 40%;
//  }
//
//  @media screen and (max-width: $tablet) {
//    width: 45%;
//  }
//
//  @media (max-width: $small_tablet) {
//    width: 70%;
//    justify-content: center;
//  }
//
//  @media (max-width: $phone) {
//    width: 100%;
//  }
//}
//
//.leave_feed_wrap {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  width: 100%;
//  height: auto;
//  padding: 40px;
//  outline: 1px solid #003399;
//  font-size: 18px;
//
//  @media (max-width: $pc) {
//    padding: 40px 15px;
//  }
//
//  @media (max-width: $tablet) {
//    font-size: 16px;
//  }
//
//  @media (max-width: $small_tablet) {
//    padding: 40px 20px;
//  }
//
//  @media (max-width: $phone) {
//    font-size: 14px;
//    width: 75%;
//  }
//
//  @media (max-width: $small_phone) {
//    padding: 30px 5px;
//  }
//}
//
//.iframe_video_play {
//  display: none;
//  min-height: 320px;
//  height: 100%;
//
//  @media (max-width: $tablet) {
//    min-height: 375px;
//  }
//
//  @media (max-width: $small_tablet) {
//    min-height: 320px;
//  }
//
//  @media (max-width: $phone) {
//    min-height: 275px;
//  }
//
//  @media (max-width: $small_phone) {
//    min-height: 260px;
//  }
//}
//
//.iframe_video_play.active {
//  display: block;
//}
//
//.about-hotel-video {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: space-between;
//  flex-wrap: wrap;
//  width: 100%;
//
//  @media (max-width: $tablet) {
//    flex-direction: column;
//    margin: 0;
//  }
//}
//
//.about-hotel-video_wrap {
//  width: 48%;
//  height: 100%;
//}
//
//.hotel_img_wrap {
//  height: 75px;
//  width: 75px;
//  cursor: pointer;
//  z-index: 1;
//  opacity: 1;
//
//  @media (max-width: $pc) {
//    height: 65px;
//    width: 65px;
//  }
//
//  @media (max-width: $phone) {
//    height: 50px;
//    width: 50px;
//  }
//}
//
//.about-hotel_spacing {
//  margin-top: 40px;
//
//  @media (max-width: $phone) {
//    margin: 0;
//  }
//}
//
//.hotel_img {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: center;
//  min-height: 320px;
//  width: 100%;
//  height: 100%;
//  background-size: cover;
//  opacity: 1;
//  z-index: 2;
//
//  @media (max-width: $tablet) {
//    min-height: 375px;
//  }
//
//  @media (max-width: $small_tablet) {
//    min-height: 320px;
//  }
//
//  @media (max-width: $phone) {
//    min-height: 275px;
//  }
//
//  @media (max-width: $small_phone) {
//    min-height: 260px;
//  }
//}
//
//.hotel_img.active {
//  display: none;
//}
//
//
//.about-hotel-video-mobile {
//  margin-top: 40px;
//    @media (max-width: $tablet) {
//      margin-top: 0px;
//      width: 100%;
//  }
//
//  @media (max-width: $phone) {
//    margin-top: 0px;
//  }
//  &:first-child {
//    @media (max-width: $tablet) {
//      margin-top: 40px;
//    }
//  }
//}
//
//.modal-entry {
//  position: fixed;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%) scale(0);
//  transition: 200ms ease-in-out;
//  z-index: 5;
//  background-color: white;
//  width: 100%;
//  max-width: 800px;
//  padding: 10px;
//  height: auto;
//
//  @media (max-width: $pc) {
//    max-width: 680px;
//  }
//
//  @media (max-width: $tablet) {
//    max-width: 540px;
//  }
//
//  @media (max-width: $small_tablet) {
//    max-width: 540px;
//  }
//
//  @media (max-width: 660px) {
//    max-width: 440px;
//    padding: 0;
//  }
//
//  @media (max-width: $phone) {
//    max-width: 375px;
//  }
//
//  @media (max-width: $small_phone) {
//    max-width: 290px;
//  }
//
//  @media (max-height: $phone) {
//    top: 60%;
//  }
//
//  @media (max-height: $phone-height__medium) {
//    top: 57%;
//  }
//}
//
//.modal-entry.active {
//  transform: translate(-50%, -50%) scale(1);
//}
//.modal-entry-out {
//  position: absolute;
//  padding: 10px;
//  top: 0;
//  right: 0;
//  width: 40px;
//  height: 40px;
//  cursor: pointer;
//  z-index: 2;
//}
//.modal-entry-out::after, .modal-entry-out::before {
//  position: absolute;
//  display: block;
//  content: "";
//  top: 50%;
//  width: 50%;
//  height: 2px;
//
//  background-color: #BDBDBD;
//  transform: translate(0, 50%) rotate(-45deg);
//}
//.modal-entry-out::before {
//  transform: translate(0, 50%) rotate(45deg);
//}
//
//.modal-entry-body {
//  padding: 5px 15px;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  margin: 5px 70px;
//}
//.modal-entry-form.active {
//  display: block;
//}
//.modal-entry-form {
//  display: none;
//}
//.close-button {
//  cursor: pointer;
//  border: none;
//  outline: none;
//  background: none;
//  font-size: 40px;
//  font-weight: 400;
//  padding-right: 20px;
//  position: absolute;
//  top: 0;
//  right: 0;
//}
//
//.modal-entry-header {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  align-items: center;
//  position: relative;
//}
//
//.modal-entry-title {
//  margin: 0 auto;
//  font-weight: bold;
//  font-size: 24px;
//  color: #000000;
//  padding-top: 40px;
//
//  @media (max-width: $tablet) {
//    padding-top: 35px;
//  }
//
//  @media (max-width: 660px) {
//    padding-top: 25px;
//  }
//
//  @media (max-width: $phone) {
//    padding-top: 20px;
//    font-size: 20px;
//  }
//
//  @media (max-height: $phone) {
//    padding-top: 10px;
//    font-size: 18px;
//  }
//}
//
//#overlay {
//  position: fixed;
//  opacity: 0;
//  transition: 200ms ease-in-out;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-color: rgba(0, 0, 0, .5);
//  pointer-events: none;
//}
//
//#overlay.active {
//  opacity: 1;
//  pointer-events: all;
//}
//
//.modal-feed-body {
//  margin: 50px 100px;
//
//  @media (max-width: $tablet) {
//    margin: 40px;
//  }
//
//  @media (max-width: 660px) {
//    margin: 25px;
//  }
//
//  @media (max-width: $phone) {
//    margin: 15px 25px;
//  }
//
//  @media (max-height: 375px) {
//    margin: 30px;
//  }
//
//  @media (max-height: 359px) {
//    margin: 5px 20px;
//  }
//}
//
//.modal-feed-input {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  width: 100%;
//
//  @media (max-width: $phone) {
//    flex-direction: column;
//  }
//}
//
//.modal-input {
//  color: #141414;
//  border-bottom: 1px solid #BDBDBD;
//  padding-bottom: 10px;
//  width: 47%;
//
//  @media (max-width: $phone) {
//    width: 100%;
//    margin: 10px 0;
//    font-size: 12px;
//  }
//
//  @media (max-height: $phone) {
//    padding-top: 5px;
//    font-size: 12px;
//  }
//
//  @media (max-height: 359px) {
//    padding-top: 0;
//  }
//}
//
//.modal-input::placeholder {
//  color: #141414;
//
//  @media (max-width: $phone) {
//    font-size: 12px;
//  }
//}
//
//.modal_textarea {
//  width: 100%;
//  border: none;
//  border-bottom: 1px solid #BDBDBD;
//  height: 75px;
//
//  @media (max-width: $tablet) {
//    height: 60px;
//  }
//
//  @media (max-width: 660px) {
//    height: 50px;
//  }
//
//  @media (max-height: 575px) {
//    height: 40px;
//  }
//}
//
//.modal_textarea.active {
//  border-bottom: 1px solid #F31526;
//}
//
//.modal_textarea.active::placeholder {
//  color: #F31526;
//}
//
//textarea::placeholder {
//  color: #141414;
//}
//
//.modal-feedback-block_spacing {
//  margin: 40px 0;
//
//  @media (max-width: $small_tablet) {
//    margin: 25px 0;
//  }
//
//  @media (max-height: $phone) {
//    margin: 15px 0;
//  }
//
//  @media (max-height: 359px) {
//    margin: 0;
//  }
//}
//
//.modal-mark-block {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  width: 100%;
//}
//
//.modal-mark-title {
//  font-weight: 500;
//  font-size: 16px;
//  line-height: 16px;
//  color: #141414;
//
//  @media (max-width: $phone) {
//    font-size: 14px;
//  }
//}
//
//.modal_mark_title_spacing {
//  margin-right: 40px;
//
//  @media (max-width: $phone) {
//    margin-right: 25px;
//  }
//}
//.modal-mark-star {
//  align-items: center;
//  cursor: pointer;
//}
//.modal-star-btn path{
//  fill: #869791;
//}
//
//.modal-star-btn.star_active path {
//  fill: gold;
//}
//
//
//
//.modal-send-text {
//  font-weight: 500;
//  font-size: 12px;
//  line-height: 14px;
//  text-align: center;
//  color: #115AED;
//  width: 85%;
//}
//
//.modal-send-text_spacing {
//  margin-top: 40px;
//  margin-bottom: 20px;
//
//  @media (max-width: $small_tablet) {
//    margin-top: 30px;
//    margin-bottom: 15px;
//  }
//
//  @media (max-width: $phone) {
//    margin-top: 20px;
//    margin-bottom: 10px;
//  }
//
//  @media (max-height: $phone) {
//    margin-top: 15px;
//    margin-bottom: 10px;
//  }
//
//  @media (max-height: 359px) {
//    margin-top: 5px;
//    margin-bottom: 5px;
//  }
//}
//
//.modal-send-button {
//  font-weight: bold;
//  font-size: 14px;
//  text-align: center;
//  background: #003399;
//  border-radius: 5px;
//  padding: 14px 25px;
//  cursor: pointer;
//
//  @media (max-width: $small_tablet) {
//    font-size: 12px;
//    padding: 12px 24px;
//
//  }
//
//  @media (max-width: $phone) {
//    font-size: 11px;
//    padding: 10px 20px;
//  }
//
//  @media (max-height: $phone) {
//    font-size: 11px;
//    padding: 10px 20px;
//  }
//
//  @media (max-height: 359px) {
//    font-size: 10px;
//    padding: 9px 16px;
//  }
//}
//
//.modal-send-button:hover {
//  background: #115AED;
//  color: #FFFFFF;
//}
//
//.modal-send-block {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  width: 100%;
//}
//
//.close-modal-button {
//  position: absolute;
//  right: 10px;
//  top: 5px;
//  cursor: pointer;
//  border: none;
//  outline: none;
//  background: none;
//  font-size: 32px;
//  font-weight: bold;
//  color: black;
//}
//.modal-success-message.active {
//  display: flex;
//}
//.modal-success-message {
//  display: none;
//  flex-direction: column;
//  align-items: center;
//  width: 100%;
//}
//
//.modal-success-message-wrap {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  max-width: 340px;
//  width: 100%;
//  @media (max-width: $small_tablet) {
//    max-width: 280px;
//  }
//
//  @media (max-width: $phone) {
//    max-width: 240px;
//  }
//}
//
//.message-title {
//  font-size: 32px;
//  line-height: 36px;
//  text-align: center;
//  color: #141414;
//  font-weight: 600;
//
//  @media (max-width: $small_tablet) {
//    font-size: 24px;
//    line-height: 28px;
//  }
//}
//
//.success-message-spacing {
//  padding: 75px 0;
//}
//
//.mess-text-spacing {
//  margin-top: 16px;
//  margin-bottom: 34px;
//
//  @media (max-width: $small_tablet) {
//    margin-top: 10px;
//    margin-bottom: 26px;
//  }
//}
//
//.message-text {
//  font-size: 14px;
//  line-height: 17px;
//  text-align: center;
//  color: #000000;
//
//  @media (max-width: $small_tablet) {
//    font-size: 12px;
//    line-height: 15px;
//  }
//}
//
//.message-button {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  font-weight: bold;
//  font-size: 14px;
//  text-transform: uppercase;
//  color: #FFFFFF;
//  background: #003399;
//  border-radius: 5px;
//  width: 220px;
//  height: 48px;
//
//  @media (max-width: $small_tablet) {
//    width: 150px;
//    height: 36px;
//    font-size: 13px;
//  }
//
//  @media (max-width: $phone) {
//    width: 130px;
//    height: 28px;
//    font-size: 12px;
//  }
//}
