.profile-info {
  color: black;
  &-item {
    display: block;
    margin: 0 0 16px 0;
    width: 100%;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 8px;
    color: black;

    & .form-group {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(128, 128, 128, 0.89);
      color: black;
    }

    & .form-text {
      color: black;
    }

    & .form-label {
      margin: 0 8px 0 0;
      color: black;
    }
  }
}
