//.promotion_block {
//  display: flex;
//  flex-direction: column;
//  align-items: flex-start;
//  width: 100%;
//  font-size: 72px;
//  line-height: 72px;
//
//  @media (max-width: $pc)  {
//    font-size: 56px;
//    line-height: 56px;
//  }
//
//  @media (max-width: $tablet)  {
//    font-size: 42px;
//    line-height: 42px;
//  }
//
//  @media (max-width: $small_tablet)  {
//    font-size: 36px;
//    line-height: 36px;
//  }
//
//  @media (max-width: $phone)  {
//    font-size: 32px;
//    line-height: 32px;
//  }
//
//  @media (max-width: $small_phone)  {
//    font-size: 26px;
//    line-height: 26px;
//  }
//}
//
//.about_promotion_text {
//  font-weight: 600;
//  font-size: 0.35em;
//  color: #FFFFFF;
//  @media (max-width: $tablet) {
//    font-size: 0.55em;
//  }
//}
//
//.about_promotion_block_wrap {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  width: 100%;
//  margin-bottom: 25px;
//
//  @media (max-height: 395px) {
//    margin-bottom: 5px;
//  }
//}
//
//.about_promotion_link img {
//  display: flex;
//  width: 35px;
//  height: 28px;
//
//  @media (max-width: $tablet) {
//    width: 30px;
//    height: 24px;
//  }
//}
//
//.about_promotion_link_title {
//  display: flex;
//}
//
//.about_promotion_title {
//  color: #FFFFFF;
//  font-weight: bold;
//  font-size: 1em;
//  line-height: 1em;
//}
