.structure {
  &-item {
    display: block;
    margin: 0 0 16px 0;
    width: 100%;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 8px;

    & .form-group {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(128, 128, 128, 0.89);
      color: black;
    }

    & .form-label {
      margin: 0 8px 0 0;
    }
  }
}

.date-btn {
  display: flex;
  flex-direction: column;
  & .btn {
    margin: 8px 0;
  }
}

.date-label {
  display: flex;
  align-items: center;
}
