//Display size
$pc-big: 1440px;
$pc: 1200px;
$tablet: 991px;
$small_tablet: 767px;
$phone: 575px;
$small_phone: 468px;
$bg-tablet-height: 640px;
$tablet-height: 590px;
$phone-height__medium: 479px;
$phone-height__small: 420px;


// _aside
$aside-width: 65px;
$aside-height__tablet: 70px;
$aside-height__medium: 60px;
$aside-height__small: 43px;
$aside-width-open: 340px;

//catalog
$room_photo_height: 380px;
$room_icon_x: 0%;

$main_background: #f9f9f9;
$title_color: white;
$text_color: white;
$blue: #003399;
$room_photo_height: 380px;
$room_icon_x: 0%;

//transition-settings
$transition: 0.4s all;

.header_container {
  margin: 0 auto;
  padding-left: 95px;
  padding-right: 95px;
  max-width: 100%;
  width: 100%;
  height: 100%;

  @media (max-width: $pc-big) {
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $pc) {
    margin: 0 auto;
    padding-left: 75px;
    padding-right: 75px;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $tablet) {
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $small_tablet) {
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 45px;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $phone) {
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
